/**
 * Taken from the example at https://github.com/wyldebeast-wunderliebe/jsforms
 */

#noise-container form > div {
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

#noise-container fieldset {
    margin: 0 0 10px;
}

#noise-container .constraint-violation {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    font-size: 1em;
}

#noise-container .error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    font-size: 1em;
}

#noise-container .irrelevant.error,
#noise-container .irrelevant.error input,
#noise-container .irrelevant.error select {
    border-color: #c0c0c0;
}

#noise-container .error .alert {
    display: block;
}

#noise-container .irrelevant .alert,
#noise-container .alert {
    display: none;
}

#noise-container .constraint-violation .help {
    display: inline-block;
    color: #c0c0c0;
    margin-left: 5px;
}

#noise-container .irrelevant .help,
#noise-container .help {
    display: none;
}

#noise-container .irrelevant {
    opacity: 0.3
}

/*#noise-container .required:after {*/
/*content: "*";*/
/*color: #ff0000*/
/*}*/