/* MD THEME FIXES */

body.portaltype-noise-addon-noise#ActionPage .main .make-row .content {
    width: 100%;
}

body.portaltype-noise-addon-noise#ActionPage .main .container .sidebar,
body.portaltype-noise-addon-noise#ActionPage .main .content>header .breadcrumb {
    display: none;
}

body.portaltype-noise-addon-noise#ActionPage .main .content>header {
    margin: 80px 0 100px;
}

/* NOISE CONTAINER STYLING */

#noise-container,
#printme {
    display: none;
}

#noise-container label {
    min-width: 140px;
}

#noise-container {
    margin-bottom: 20px;
}

#noise-container .header {
    background-color: #ccc;
    color: #505050;
    padding: 5px;
    margin: 5px 0;
    font-weight: 600;
    font-size: larger;
}

#noise-container .image.thumb {
    max-width: 25%;
    padding: 0;
    margin: 0;
}

#noise-container .image.full {
    display: none;
    position: absolute;
}
/* noise menu tabs */

#noise-container .noise-menu {
    list-style-type: none;
    margin-left: 0;
}

#noise-container .noise-menu li {
    display: inline;
    margin-right: 5px;
}

#noise-container .noise-menu li.current {
    position: relative;
    z-index: 5;
    color: #cecece;
}
#noise-container .noise-menu li.current a {
    color: #cecece;
}

#noise-container .noise-menu li a {
    text-decoration: none;
}

#noise-container .tab {
    display: none;
}

/* other */

#noise-container #tweet-text-div.exceeds_limit {
    color: red;
}

#noise-container span#tweet-counter {
    float: right;
    padding: 10px;
}

#content a.email_noise,
#content a.tweet_noise,
a.email_noise,
a.tweet_noise {
    display: inline-block;
    border-bottom: none;
}

#noise-container .hidden {
    display: none;
}

#noise-container .ink {
    color: darkblue;
    background-color: #fff;
    min-height: 100px;
}

#noise-container .noise-counter {
    text-align: center;
    font-weight: 600;
    font-size: larger;
    border: 1px solid #CCCCCC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 50px auto;
    padding: 20px;
    width: 400px;
}

#noise-container .noise-menu,
#noise-container .tab h2 {
    text-align: center;
}

#noise-container .noise-body {
    position: relative;
    height: 100px;
    overflow: hidden;
    background: linear-gradient(to top, rgba(255,255,255,0) 0%, #fff 100%);
    margin: 10px 0;
    text-align: left;
}

#noise-container a.readmore,
#noise-container a.readmore:hover {
    background-color: #cecece;
    color: #505050 !important;
    padding: 5px;
    width: 150px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

#noise-container .need_some_room {
    margin-bottom: 20px;
    text-align: center;
}

#noise-container table {
    border-collapse: separate;
    border-spacing: 5px;
    border: 5px solid #d5d5d5;
}

#noise-container table td,
#noise-container table th {
    border: 1px solid #d5d5d5;
    padding: 5px;
}