#noise-container,
#printme {
    display: none;
}

#noise-container .header {
    background-color: #f7f7f7;
    color: #505050;
    padding: 5px;
    margin: 5px 0;
    font-weight: 600;
    font-size: larger;
}

#noise-container .image.thumb {
    max-width: 25%;
    padding: 0;
    margin: 0;
}

#noise-container .image.full {
    display: none;
    position: absolute;
}
/* noise menu tabs */

#noise-container .noise-menu {
    list-style-type: none;
    margin-left: 0;
}

#noise-container .noise-menu li {
    display: inline;
    margin-right: 5px;
}

#noise-container .noise-menu li.current {
    position: relative;
    background-color: #fff;
    z-index: 5;
    display: none;
}

#noise-container .noise-menu li a {
    text-decoration: none;
}

#noise-container .tab {
    display: none;
}

/* other */

#noise-container #tweet-text-div.exceeds_limit {
    color: red;
}

#noise-container span#tweet-counter {
    float: right;
    padding: 10px;
}

#content a.email_noise,
#content a.tweet_noise,
a.email_noise,
a.tweet_noise {
    padding: 10px;
    background: #f7f7f7;
    display: inline-block;
    border-bottom: none;
}

#noise-container .hidden {
    display: none;
}

#noise-container .ink {
    color: darkblue;
    background-color: #fff;
    min-height: 100px;
}

#noise-container .noise-counter {
    text-align: center;
    font-weight: 600;
    font-size: larger;
}

#noise-container .noise-menu,
#noise-container .tab h2 {
    text-align: center;
}

#noise-container .noise-body {
    position: relative;
    height: 100px;
    overflow: hidden;
    background: linear-gradient(to top, rgba(255,255,255,0) 0%, #fff 100%);
    margin: 10px 0;
}

#noise-container a.readmore,
#noise-container a.readmore:hover {
    display: block;
    background-color: #cecece;
    color: #fff !important;
    text-align: center;
    padding: 5px;
}

#noise-container .need_some_room {
    margin-bottom: 20px;
}

@media print {

    .noise-body,
    .noise-menu,
    .noise-counter,
    section.tab-content,
    h1 {
        display: none;
    }

    section#printme {
        display: block;
    }

    section#printme #pr-body {
        margin: 8em 0;
    }
}